<div class="container">
    
    <% flash.each do |name, msg| -%>
        <div class="text-center alert alert-danger">
            <%= content_tag :div, msg, class: name %>
        </div>
    <% end -%>
    
    <div class="p-5">
        <div class="card">
            <div class="card-body">

                <%= form_with model: @link, remote: true do |form| %>

                <h4>Enter URL Below</h4>
                <%= form.text_field :original_url, class:"form-control" %>
                <div class="col text-center">
                    <%= form.submit "Generate new link", class:"btn btn-primary mt-3"%>
                </div>

                <% end %>

                <div id="shortLink">
                </div>

            </div>
        </div>
    </div>
</div>


